@keyframes fade-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.play-status{
  animation: fade-out 1s forwards;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 24px;
  height: 24px;
  opacity: 0;
  pointer-events: none;
}

.play-status path{
  fill: #fff;
}